--------------------------------------------------
requirements.txt (trimmed)
------------------------------------------------```
pandas
numpy
nltk
vaderSentiment
transformers
torch
scipy
deep-translator
emoji
contractions
spacy